body {
    margin: 0;
    font-family: Arial, sans-serif;
}


/* HEADER */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid black; /* Added black border at the bottom */
    z-index: 1000;
}

.header .logo img {
    height: 60px;
}

.header nav {
    display: flex;
    gap: 20px;
}

.header nav a {
    color: black; /* Changed text color to black */
    text-decoration: none;
    font-size: 1em;
    margin-right: 30px;
}

.header nav a:hover {
    text-decoration: underline;
}

.content {
    padding-top: 60px;
}




/* PRESENTATION */

.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: aliceblue;
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    padding: 20px;
}

.presentation h1 {
    font-size: 4em;
    font-weight: bold;
    margin: 0;
}

.presentation h2 {
    font-size: 2em;
    margin: 10px 0;
}

.presentation p {
    font-size: 1.2em;
    max-width: 800px;
}

/* COMPETENCES */

.competences-section {
    padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.competences-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.skill {
    margin: 20px 0;
}

.skill p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
    height: 20px;
}

.progress {
    height: 100%;
    background-color: #4caf50;
    border-radius: 25px 0 0 25px;
}